{% extends 'base.html.twig' %}

{% block header_title %}<h1>Oupssss 404</h1>{% endblock %}


{% block body %}
    <div class="d-flex justify-content-center flex-column  align-items-center">
        <div class="col-12 col-md-6 ">
        <h3>La page demandée n'existe pas !</h3>
        </div>
    </div>
    <a href="{{ path('homepage') }}" class="float-end btn btn-primary mt-4">Retour à l'accueil</a>

{% endblock %}
